<section>

    <form action="#">
    <fieldset>

        <legend>hello_world form</legend>
        <label for="firstName">First Name :</label>
        <input type="text" id="firstName" name="fname" placeholder="mehul"> <br>

        <label for="lastName">Last Name :</label>
        <input type="text" id="lastName" name="lname" placeholder="patel">

    </fieldset>
</form>

</section>


<figure>
    <img src="../../assets/simple-hand-shake.svg" alt="svg image">
    <figcaption>SVG hand-shake</figcaption>
</figure>

<article>
    <video src="../../assets/Pexels Videos 2157006.mp4" width="500px" controls loop autoplay></video>
    <audio src="../../assets/Single-firework-launching-exploding-and-crackling.mp3" controls></audio>
</article>